@import "_palette";

$color-globalHeader-background: $palette-trueWhite;
$color-globalHeader-border: $palette-darkBlack;
$color-globalHeader-color: $palette-darkBlack;

$color-globalFooter-background: $palette-trueWhite;
$color-globalFooter-color: $palette-trueBlack;

$color-globalSidebar-background: $palette-trueWhite;
$color-globalSidebar-paleBackground: $palette-paleWhite;
$color-globalSidebar-border: $palette-darkBlack;
$color-globalSidebar-title: $palette-darkBlack;
$color-globalSidebar-main: $palette-trueBlack;
$color-globalSidebar-sub: $palette-lightBlack;

$color-globalTab-background: $palette-trueWhite;
$color-globalTab-color: $palette-trueBlack;