$palette-trueWhite: #fff;
$palette-paleWhite: rgba(255,255,255,0.7);
$palette-trueBlack: #333;
$palette-darkBlack: #000;
$palette-lightBlack: #444;
$palette-trueGray: #B5B5B5;

$palette-trueRed: #E44545;


$palette-lightBlue: #00AEFF;


$palette-trueOrange: #F4A52F;


